



    <div class="row py-lg-5 banner text-center">
      <div class="col-lg-6 col-md-8 mx-auto">

        <br>
        <br>
        <br>
        <br>
        <h1 class="fw-light" style="
        color: white;
        font-size: 67px;">Gribo Club</h1>
        <p class="lead " style="color: white; font-size: 27px">Una comunidad para personas libres que buscan lograr sus ambiciones y verse genial en el transcurso </p>
        <p>
          <a routerLink="/estilo" class="btn btn-success my-2">Obtiene tu estilo</a>
        </p>
      </div>
    </div>


    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 fw-bold border-bottom">Como funciona?</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M640 162.8c0 6.917-2.293 13.88-7.012 19.7l-49.96 61.63c-6.32 7.796-15.62 11.85-25.01 11.85c-7.01 0-14.07-2.262-19.97-6.919L480 203.3V464c0 26.51-21.49 48-48 48H208C181.5 512 160 490.5 160 464V203.3L101.1 249.1C96.05 253.7 88.99 255.1 81.98 255.1c-9.388 0-18.69-4.057-25.01-11.85L7.012 182.5C2.292 176.7-.0003 169.7-.0003 162.8c0-9.262 4.111-18.44 12.01-24.68l135-106.6C159.8 21.49 175.7 16 191.1 16H225.6C233.3 61.36 272.5 96 320 96s86.73-34.64 94.39-80h33.6c16.35 0 32.22 5.49 44.99 15.57l135 106.6C635.9 144.4 640 153.6 640 162.8z"/></svg></svg>
          </div>
          <h2>Obtiene tu estilo</h2>
          <p>Cuéntanos un poco sobre sus preferencias de estilo y tamaño para que se le asigne su propio perfil de estilo.</p>

        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/></svg></svg>
          </div>
          <h2>Unete al club</h2>
          <p>Con un pago de 200 soles al mes, recibirás de 2 a 3 prendas seleccionadas de nuestra familia de marcas. Cada paquete que recibas complementará lo que ya has recibido.</p>

        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M374.6 73.39c-12.5-12.5-32.75-12.5-45.25 0l-320 320c-12.5 12.5-12.5 32.75 0 45.25C15.63 444.9 23.81 448 32 448s16.38-3.125 22.62-9.375l320-320C387.1 106.1 387.1 85.89 374.6 73.39zM64 192c35.3 0 64-28.72 64-64S99.3 64.01 64 64.01S0 92.73 0 128S28.7 192 64 192zM320 320c-35.3 0-64 28.72-64 64s28.7 64 64 64s64-28.72 64-64S355.3 320 320 320z"/></svg></svg>
          </div>
          <h2>Beneficios exclusivos</h2>
          <p>Obten un 20% de descuento adicional en gribostore.pe y unase a nuestra comunidad vip en facebook para acceder a obsequios exclusivos y una mirada a todas nuestras colecciones. </p>

        </div>
      </div>
    </div>


    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">Deja de preocuparte!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" style="color: #212529;">Nuestro equipo de expertos en moda y tendencia se encargaran de crear un paquetes con outfits personalizado para tu perfil de estilo y Pasa más tiempo haciendo lo que te encanta </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="../../../assets/keagan-henman-Won79_9oUEk-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>


    <div class="container px-4 py-5" id="icon-grid">


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
          <div>
            <h4 class="fw-bold mb-0"> La membresía es fácil</h4>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
          <div>
            <h4 class="fw-bold mb-0"> El envío es gratis</h4>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
          <div>
            <h4 class="fw-bold mb-0">Cambio de tallas</h4>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
          <div>
            <h4 class="fw-bold mb-0">Pausa y cancela en cualquier momento.</h4>
          </div>
        </div>


      </div>
    </div>



    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/keagan-henman-2N54i7xrdrY-unsplash.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">No quieres ropa tan seguido suscribete a GriboTrimestral</h1>
          <p class="lead">Solo recibes 4 paquetes en el año, 1 cada 3 meses por solo s/200 cada estación.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button routerLink="/estilo" type="button" class="btn btn-success btn-lg px-4 me-md-2">Obtiene tu estilo</button>
          </div>
        </div>
      </div>
    </div>

